.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.tabHeader {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

#Item1 {
    background-color: blue;
}

#Item2 {
    background-color: mediumpurple;
}

#Item3 {
    background-color: red;
}

#Item4 {
    background-color: green;
}
